/* ---------------- base styles ---------------- */
*{
    margin: 0;
    padding: 0;

    /* ----- Color variables ----- */
    --primary-color: #61e786ff;
    --secondary-color: #1be7ffff;
    --extra-color: #efbdebff;
    --warning-color: #ffb800ff;
    --active-color: #ff5714ff;
    --text-color: #DDE8B9;
    --background: #0c0c0c;
    --light-black: #0c0c0c;

    /* ------ Font variables ------ */
    --quicksand: 'Quicksand', sans-serif;
    --monotype : 'Major Mono Display', monospace;
    --nunito: 'Nunito', sans-serif;
    --trispace: 'Trispace', sans-serif;
    --sometimes: 'sometimesregular', cursive;
    --bulgarie: 'bulgarieregular', cursive;

    /* ----- website texts ----- */
    --heading-font: var(--trispace);
    --body-font: var(--nunito);
    --cursive-text: var(--sometimes);
    --rounded-text: var(--quicksand);

    /* ------- font sizes ------ */
    --h1-lg: 2.2rem;
    --h1-sm: 2rem;
    --h1-xs: 1.8rem;
    --h2-lg: 1.8rem;
    --h2-sm: 1.6rem;
    --h2-xs: 1.2rem;
    --p-all: 1rem;

    /* breakpoints */
    --large: 1440px;
    --regular: 1360px;
    --small: 1080px;
    --tablet: 960px;
    --smartphone: 520px;
    --pixel: 475px;
    --retina: 360px;
    
}

body{
    background: var(--background);
    color: var(--text-color);
    height: 2000px; 
    overflow-x: hidden;                                                                                                                                                                                                                                   ;
}
.logoimg{
    position: fixed;
    width: 400px;
    z-index: 11;
    margin-left: 20px;
    margin-top: 10px;
}
#geometry-wrapper{
    position: absolute;
    z-index: -999;
    width: 100%;
    padding: 0;
}
#content-wrapper{
    position: absolute;
    z-index: 10;
    margin: 0;
    width: 100%;
}

/* ------------------------------------------------------
--------------------------- shapes ----------------------
--------------------------------------------------------- */
.tube{
    position: absolute;
    width: 300px;
    top: 50px;
    right: -100px;
    animation: moveup 3s linear infinite;
}
.sphere-dis{
    position: absolute;
    width: 500px;
    top: 100px;
    left: 100px;
    animation: movearound 8s linear infinite backwards;
}
.sphere-green{
    position: absolute;
    width: 150px;
    top: 3200px;
    right: 100px;
    opacity: 0.5;
    animation: movearound 5s linear infinite;
}
.ring-moon{
    position: absolute;
    width: 300px;
    top: 1800px;
    left: 50px;
    animation: movearound 10s linear infinite;
}
.sphere-dotted{
    position: absolute;
    width: 200px;
    top: 1100px;
    left: 350px;
    animation: movearound 0.3s linear infinite;
}
.ring-purple{
    position: absolute;
    width: 220px;
    top: 3850px;
    right: 230px;    
    animation: moveup 2s linear infinite;
}
.ring-orange{
    position: absolute;
    width: 300px;
    top: 600px;
    left: 600px;
    z-index: 12;    
    animation: movearound 10s linear infinite;
}
.ring-metal{
    position: absolute;
    width:400px;
    top: 2800px;
    left: 100px;
    animation: movearound 10s linear infinite;
}
.ring-blue{
    position: absolute;
    width: 100px;
    top: 1400px;
    right: 70px;    
    transform: skew(-20deg);
}
.blue-sphere{
    position: absolute;
    width: 200px;
    top: 2400px;
    right: 10%;    
    animation: movearound 10s linear infinite;
}

/* -------------- hero card ---------------- */
#hero{
    position: absolute;
    margin: 120px 40px;
    height: 660px;
    width: 100%;
    max-width: 1350px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    border-radius: 50px;
    background: rgba( 0, 0, 0, 0.50 );
    box-shadow: 0 8px 32px 0 rgba(29, 29, 29, 0.37);
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border: 1px solid rgba(105, 105, 105, 0.3);
}
.heroimg{
    position: absolute;
    top: -100px;
    right: -80px;
    height: 760px;
}
.sphere-fintip{
    position: absolute;
    width: 180px;
    top: -70px;
    right: 440px;
    animation: movearound 0.2s linear infinite;
}
#content{
    padding: 40px;
    padding-top: 120px;
}
.hello{
    font-size: 1.6em;
    /* margin-left: 10px; */
    color: #fff;
    letter-spacing: 0.2em;
}
.tagline{
    font-size: 3.8em;
    margin: 20px 0px;
    color: #eee;
    font-family: var(--quicksand);
    font-weight: 700;
    color: var(--primary-color);
    max-width: 600px;
}
#lead-cta{
    display: block;
    width: fit-content;
    margin-top: 40px;
    padding: 20px 50px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 30px;
    color: #fff;
    font-family: var(--trispace);
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: 600;
}
#lead-cta:hover{
    background: #fff;
    color: #000;
    transition: 0.5s ease;
    border: 2px double #000;
}
#lead-cta:focus{
    outline: none;
}
.text{
    color: #fff;
    /* margin-left: 10px; */
    font-size: 1.1em;
    letter-spacing: 0.1em;
    max-width: 600px;
    font-family: var(--quicksand);
    margin: 10px 0px;
}




/* ===================== animation keyframes ======================== */
@-webkit-keyframes ChangeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes ChangeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes ChangeGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes ChangeGradient {
    0%{background-position:0% 50%}
    25%{background-position: 50% 50%;}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes moveahead{
    0%{
        margin-left: 0px;
    }
    35%{
        margin-left: 20px;
    }
    70%{
        margin-left: -20px;
    }
    100%{
        margin-left: 0px;
    }
}
@keyframes moveup{
    0%{
        margin-top: 0px;
    }
    35%{
        margin-top: 20px;
    }
    70%{
        margin-top: -20px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes movearound{
    10%{
        transform: rotate(10deg);
    }
    20%{
        transform: rotate(45deg);
    }
    30%{
        transform: rotate(90deg);
    }
    40%{
        transform: rotate(135deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(225deg);
    }
    70%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(300deg);
    }
    90%{
        transform: rotate(330deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* bulgarie */
@font-face {
    font-family: 'bulgarieregular';
    src: url('../webfonts/fontsfree-net-bulgarie-webfont.woff2') format('woff2'),
         url('../webfonts/fontsfree-net-bulgarie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* sometimes */
@font-face {
    font-family: 'sometimesregular';
    src: url('../webfonts/sometimes-51amx-webfont.woff2') format('woff2'),
         url('../webfonts/sometimes-51amx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* card fold animation */

.crunch-body{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  -webkit-animation: crunch 4s 1s ease-in-out infinite;
          animation: crunch 4s 1s ease-in-out infinite;
}


@-webkit-keyframes crunch {
  50% {
    transform: scaleX(0.6);
  }
}
@keyframes crunch {
  50% {
    transform: scaleX(0.6);
  }
}

.card {
  display: flex;
  width: 1000px;
  height: 600px;
}

.fold {
  flex: 1;
  background: url(../images/bgs/38.-Sky-Blue_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: 4s 1s ease-in-out infinite;
          animation: 4s 1s ease-in-out infinite;
}
.fold:nth-child(1) {
  background-position: 0%;
}
.fold:nth-child(2) {
  background-position: 25%;
}
.fold:nth-child(3) {
  background-position: 50%;
}
.fold:nth-child(4) {
  background-position: 75%;
}
.fold:nth-child(5) {
  background-position: 100%;
}
.fold:first-child {
  border-radius: 2vw 0 0 2vw;
}
.fold:last-child {
  border-radius: 0 2vw 2vw 0;
}
.fold:nth-child(odd) {
  -webkit-animation-name: odd-fold;
          animation-name: odd-fold;
}
@-webkit-keyframes odd-fold {
  50% {
    transform: skewY(15deg);
    filter: brightness(1.25);
  }
}
@keyframes odd-fold {
  50% {
    transform: skewY(15deg);
    filter: brightness(1.25);
  }
}
.fold:nth-child(even) {
  -webkit-animation-name: even-fold;
          animation-name: even-fold;
}
@-webkit-keyframes even-fold {
  50% {
    transform: skewY(-15deg);
    filter: brightness(0.75);
  }
}
@keyframes even-fold {
  50% {
    transform: skewY(-15deg);
    filter: brightness(0.75);
  }
}

.changingGradient{
    background: linear-gradient(45deg,  #00b3ff, #e41efa, #ff3650, #f83a00, #ffd000, #27f353, #00ffaa, #4d0049);
    background-size: 1000% 1000%;
    -webkit-animation: ChangeGradient 7s ease infinite;
    -moz-animation: ChangeGradient 7s ease infinite;
    -o-animation: ChangeGradient 7s ease infinite;
    animation: ChangeGradient 7s ease infinite;

    /* text mask properties */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}